.menu {
    padding: 20px 0px;
    .nav-link {
        color: $main-grey-color;
    }
    .logo {
        color: $main-blue-color;
        @include font-size(1.2);
        i {
           margin: 0px 5px;
            transition: .3s;
        }
        &:hover {
            i {
                transform: scale(1.5);
                display: inline-block;
            }
        }
    }
}
